{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang='fr' class="{% if is_dark_theme %}dark{% endif %}">
    <head>
        {% block title %}
        <title>Computer Management</title>
        {% endblock %}
        <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
    </head>
    <body class="bg-gray-50 dark:bg-neutral-800 text-black dark:text-gray-50">
        {% block menu %}
        <header>
            <nav class="flex justify-between items-center p-4 bg-gray-100 dark:bg-gray-900">
                <a class="text-xl text-gray-800 dark:text-white font-bold" href="#">R&T Development</a>
                <ul class="flex space-x-4">
                    <li><a href="{% url 'index' %}" class="text-gray-800 dark:text-white hover:text-gray-600">Acceuil</a></li>
                    <li><a href="{% url 'visualisation' %}" class="text-gray-800 dark:text-white hover:text-gray-600">Visualisation</a></li>
                    <li><a href="{% url 'utilisateurs' %}" class="text-gray-800 dark:text-white hover:text-gray-600">Utilisateurs</a></li>
                    <li><a href="{% url 'machines' %}" class="text-gray-800 dark:text-white hover:text-gray-600">Machines</a></li>
                </ul>
                <ul class="flex space-x-4">
                    <li><a href="{% url 'change-theme' %}" class="text-gray-800 dark:text-white hover:text-gray-600 bouton_mode">Mode</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'logout' %}" class="text-gray-800 dark:text-white hover:text-gray-600">Déconnexion</a></li>
                    {% else %}
                        <li><a href="{% url 'login' %}" class="text-gray-800 dark:text-white hover:text-gray-600">Connexion</a></li>
                    {% endif %}
                    <li><a class="text-gray-800 dark:text-white hover:text-gray-600">Compte</a></li>
                    <li><a class="text-gray-800 dark:text-white hover:text-gray-600">Menu</a></li>
                </ul>
            </nav>
        </header>
        {% endblock %}




        {% block content %}
        <section class="flex justify-center items-center h-screen">
            <div class="bg-white dark:bg-gray-800 rounded-lg shadow-lg p-8">
                <div class="mb-4">
                    <img src="{% static 'computerApp/images/logo.png' %}" alt="logo" class="w-64">
                </div>
                <div class="mb-4">
                    <h2 class="text-2xl font-bold">Description de l'entreprise</h2>
                </div>
                <div>
                    <a href="#" class="px-4 py-2 bg-blue-500 text-white font-semibold rounded hover:bg-blue-600">Bouton</a>
                </div>
            </div>
        </section>
        {% endblock %}
    </body>     
</html>
