{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang='fr' class="{% if is_dark_theme %}dark{% endif %}">
    <head>
        {% block title %}
        <title>Computer Management</title>
        {% endblock %}
        <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
    </head>
    <body class="bg-gray-50 dark:bg-neutral-800 text-black dark:text-gray-50">
        {% block menu %}
        <header>
            <nav class="navi">
                <a class="logo">R&T Development</a></div>
                <ul class="pages">
                    <li><a href="{% url 'index' %}">Acceuil</a></li>
                    <li><a href="{% url 'visualisation' %}">Visualisation</a></li>
                    <li><a href="{% url 'utilisateurs' %}">Utilisateurs</a></li>
                    <li><a href="{% url 'machines' %}">Machines</a></li>
                </ul>
                <ul class="options">
                    <li><a href="{% url 'change-theme' %}" class="bouton_mode">Mode</a></li>
                    <li><a href="{% url 'contact-submit' %}">Contact</a></li>
                    <li><a>Compte</a></li>
                    <li><a>Menu</a></li>
                </ul>
            </nav>
        </header>
        {% endblock %}




        {% block content %}
        <section>
            <div class="main">
                <div class="div_img">
                    <img src="{% static 'computerApp/images/logo.png' %}" alt="logo" style="width:500px">
                </div>
                <div class="desc">  
                    <h2>
                        Description de l'entreprise
                    </h2>
                </div>
                <div class="bouton">
                    <a>
                        Bouton
                    </a>
                </div>
            </div>
        </section>
        {% endblock %}
    </body>     
</html>