@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.navi{
    display: flex;
    justify-content: space-between;
    padding: 12px;
}

.pages{
    display: flex;
    list-style: none;
    margin-left: 10%;
}

li a{
    padding: 30px;
    color: inherit;
    text-decoration-line: none;
}



.options{
    display: flex;
    list-style: none;
}

.options li a{
    padding: 12px;
    text-decoration-line: none;
}


.login{
    display: flex;
    justify-content: center;

}


.texteLogin{

}

.texteConnexion{    
    text-align: center;
    margin-top: 10%;
    margin-bottom: 2%;
    font-size: 2rem;
}



.bg-gray-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity));
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}
