{% extends "index.html" %}

{% block content %}
    <div class="flex flex-col justify-center items-center h-screen">
        <h2 class="text-3xl font-bold mb-6">Gestion des messages</h2>
        <div class="w-full sm:w-2/3 lg:w-1/2 overflow-y-auto">
            {% if messages %}
                <form action="{% url 'del-contact-message' %}" method="post">
                    {% csrf_token %}
                    
                    {% for message in messages %}
                        <div class="mb-6 p-4 bg-white rounded-lg shadow-md dark:bg-neutral-600 hover:shadow-lg transition-shadow duration-300">
                            <label class="flex items-center">
                                <input type="checkbox" name="selected_contact_message" value="{{ message.id }}" class="mr-2 form-checkbox text-emerald-500 border-black" >
                                <span class="text-xl font-semibold">{{ message.name }}</span>
                            </label>
                            <p class="text-gray-700 mt-2 dark:text-gray-300">{{ message.email }}</p>
                            <p class="text-gray-700 mt-2 dark:text-gray-300">{{ message.message }}</p>
                            <p class="text-gray-500 mt-2 dark:text-gray-400">Date: {{ message.created_at }}</p>
                        </div>
                    {% endfor %}
                    
                    <button type="submit" class="bg-zinc-800 hover:bg-zinc-950 dark:bg-zinc-500 dark:hover:bg-zinc-700 duration-300 text-white py-2 px-4 rounded">Supprimer les messages sélectionnées</button>
                </form>
            {% else %}
                <p class="text-gray-900 dark:text-white">Aucun message de contact.</p>
            {% endif %}
            
            <button class="mt-4">
                <a href="{% url 'index' %}" class="text-emerald-500 hover:text-emerald-500">Revenir à l'accueil</a>
            </button>
        </div>
    </div>
{% endblock %}
