{% extends 'index.html' %}

{% block content %}
  <div class="flex justify-center items-center h-screen">
    <div class="bg-white shadow-lg rounded-lg p-8 dark:bg-neutral-600 ">
      <h2 class="text-2xl mb-4">Vous devez vous connecter pour avoir accès aux services du site</h2>
      <h2 class="text-2xl mb-4">Connexion</h2>
      <div>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="bg-emerald-500 hover:bg-emerald-700 duration-300 text-white font-bold py-2 px-4 rounded mt-4">Se connecter</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
