{% extends "index.html" %}
{% block content %}

<div class="container mx-auto py-8">
  <h2 class="text-2xl font-bold mb-4">Détails de la machine</h2>
  <div class="bg-white shadow-md rounded-lg p-6">
    <p class="mb-4"><strong>Nom :</strong> {{machine.nom}}</p>
    <p class="mb-4"><strong>Numéro :</strong> {{machine.id}}</p>
    <p class="mb-4"><strong>Dernière date de maintenance :</strong> {{machine.maintenanceDate}}</p>
    <p class="mb-4"><strong>Machine :</strong> {{machine.mach}}</p>
    <p class="mb-4"><strong>IP :</strong> {{machine.ip}}</p>
    <p class="mb-4"><strong>VLAN </strong> {{machine.vlan}}</p>
  </div>
</div>

<div class="flex justify-center mt-4">
    <button class="text-blue-500 hover:text-blue-600"><a  href="{% url 'machines' %}">Retour</a></button>
</div>

{% endblock %}