{% extends "index.html" %}
{% load static %}
<!DOCTYPE html>
<html lang='fr'>
    <head>
        <head>
            {% block title %}
            <title>Computer Management</title>
            {% endblock %}
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        </head>
    </head>
    <body>
        {% block content %}
            <li><a href="{% url 'add-machine' %}">Ajouter une machine</a></li>
            <button type="submit">Supprimer les données sélectionnées</button>
            
            {% if machines %}
            <form action="{% url 'del-machine' %}" method="post">
                <ul>
                    {% csrf_token %}
                    {% for machine in machines %}
                    <input type="checkbox" name="selected_machine" value="{{ id.pk }}">
                    {{ machine.nom }}<br>
                    {% endfor %}
                </ul>
            </form>
            {% for machine in machines %}
                <a href="{% url 'machine-detail' machine.id %}">
                {{ machine.id }}</a> ({{machine.nom}})
            {% endfor %}
            {% else %}
                <p>Il n\’y a pas de machine.</p>
            {% endif %}
        {% endblock %}
    </body>
</html>