{% extends "index.html" %}
{% load static %}

{% block title %}
<title>Computer Management</title>
{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang='fr'>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <li><a href="{% url 'add-machine' %}">Ajouter une machine</a></li>

    {% if machines %}
    <form action="{% url 'del-machine' %}" method="post">
        {% csrf_token %}
        <button type="submit">Supprimer les données sélectionnées</button>
        <ul>
            {% for machine in machines %}
            <li>
                <input class="ajout" type="checkbox" name="selected_machine" value="{{ machine.id }}">
                    N°{{ machine.id }} | {{ machine.nom }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </form>
    {% else %}
    <p>Il n’y a pas de machine.</p>
    {% endif %}
</body>

</html>
{% endblock %}
