{% extends "index.html" %}
{% load static %}
        {% block content %}
            <h1>Liste des utilisateurs</h1>
            {% if utilisateurs %}
            <ul>
                {% for utilisateur in utilisateurs %}
                    <li>
                        {{ utilisateur.id }}</a> ({{utilisateur.nom}})
                    </li>
                {%endfor %}
            </ul>
            {% else %}
                <p>Il n\’y a pas de d'utilisateurs.</p>
            {% endif %}

        <li><a href="{% url 'add-utilisateur' %}">Ajouter un utilisateur</a></li>
        {% endblock %}