{% extends "index.html" %}
{% block content %}
<body class="bg-gray-100">
  <div class="container mx-auto mt-8 px-4">
    <div class="bg-white rounded-lg shadow-lg p-6 dark:bg-neutral-600">
      <div class="flex justify-center mb-4">
        <h2 class="text-xl font-bold">Gestion des utilisateurs</h2>
      </div>
      {% if utilisateurs %}
      <form action="{% url 'del-utilisateur' %}" method="post">
        {% csrf_token %}
        <ul class="space-y-4">
          {% for utilisateur in utilisateurs %}
          <li class="flex items-center bg-slate-100 rounded-lg shadow-lg p-6 dark:bg-neutral-600">
            <input class="mr-2" type="checkbox" name="selected_utilisateur" value="{{ utilisateur.id }}" class="mr-2 form-checkbox text-emerald-500 border-black bg-emerald-500">
            <span class="font-bold text-xl">ID {{ utilisateur.id }}</span> 
            <p class="text-xl">{{ utilisateur.prenom }} {{ utilisateur.nom }}</p>
            <a href="{% url 'utilisateur-detail' utilisateur.id %}" class="ml-auto text-emerald-500 hover:text-emerald-700 duration-300">Détails</a>
          </li>
          {% endfor %}
        </ul>
        <div class="mt-4 flex justify-end">
          <button type="submit" class="bg-zinc-800 hover:bg-zinc-950 duration-300 text-white py-2 px-4 rounded">Supprimer les utilisateurs sélectionnées</button>
        </div>
      </form>
      {% else %}
      <p class="mt-8 text-center text-gray-500 dark:text-white">Il n'y a pas d'utilisateur.</p>
      {% endif %}
      
      <div class="flex justify-end mt-4">
        <a href="{% url 'add-utilisateur' %}" class="bg-emerald-500 hover:bg-emerald-700 duration-300 text-white py-2 px-4 rounded mr-2">Ajouter un utilisateur</a>
      </div>
    </div>
  </div>
  <div class="flex justify-center mt-4">
    <button class="text-emerald-500 hover:text-emerald-700 duration-300"><a  href="{% url 'index' %}">Accueil</a></button>
  </div>
</body>

</html>
{% endblock %}
