{% extends "index.html" %}

{% block title %}
<title>Computer Management</title>
{% endblock %}

{% block content %}

<h1>Page de visualisation</h1>

<h2>Utilisateurs</h2>

{% if utilisateurs %}
<ul>
    {% for utilisateur in utilisateurs %}
    <li>
        <a href="{% url 'utilisateur-detail' utilisateur.id %}">
            ID {{ utilisateur.id }} | {{ utilisateur.prenom }} {{ utilisateur.nom }} (voir plus)
        </a>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>Il n'y a pas d'utilisateur.</p>
{% endif %}

<h2>Machines</h2>

{% if machines %}
<ul>
    {% for machine in machines %}
    <li>
        <a href="{% url 'machine-detail' machine.id %}">
            N°{{ machine.id }} | {{ machine.nom }} (voir plus)
        </a>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>Il n'y a pas de machine.</p>
{% endif %}

{% endblock %}
